{% extends 'base.html.twig' %}

{% block title %}Nos plats caraibéen {% endblock %}

{% block body %}
      <!-- Restaurant Carte Section -->
  <div id="restaurant-menu">
    <div id="bg-carte"></div>
    <div class="container">

      <h2 class="menu-section-title">Plat</h2>
      <div class="row">
        {% for plat in plats %}
          <div class="col-md-4" style="height: 360px;">
            <div class="card" style="width: 22rem;">
              <img src="{{ asset('uploads/'~ plat.Photo) }}" class="card-img-top" alt="image-plat" style="
              height: 215px;">
              <div class="card-body">
                <h5 class="card-title">{{ plat.Nom }}</h5>
                <p class="card-text">{{ plat.Description }}</p>
                <p style="color : #d43031">{{ plat.Prix }} €</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <h2 class="menu-section-title">Dessert</h2>
      <div class="row">
        {% for dessert in desserts %}
          <div class="col-md-4" style="height: 360px;">
            <div class="card" style="width: 22rem;">
              <img src="{{ asset('uploads/'~ dessert.Photo) }}" class="card-img-top" alt="image-dessert" style="
              height: 215px;">
              <div class="card-body">
                <h5 class="card-title">{{ dessert.Nom }}</h5>
                <p class="card-text">{{ dessert.Description }}</p>
                <p style="color : #d43031">{{ dessert.Prix }} €</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div> 
  </div>

{#  #}


{#  #}
  <!-- Boisson Section -->
  <div class="container">
    <div id="gallery">
      <div class="container-fluid">
        <h2 class="menu-section-title text-center">Boisson</h2>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item"> 
              <img src="img/boisson/ordinaire.jpg" class="img-responsive" alt="boisson" width="150px">
              <p>2.50 €</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item">
              <img src="img/boisson/vaval-tropic.jpg" class="img-responsive" alt="boisson" width="150px">
              <p>2.50 €</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item"> 
              <img src="img/boisson/sunkist.jpg" class="img-responsive" alt="boisson" width="150px">
              <p>2.50 €</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item"> 
              <img src="img/boisson/redbull.jpg" class="img-responsive" alt="boisson" width="150px">
              <p>3 €</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item">
              <img src="img/boisson/royal-soda.jpg" class="img-responsive" alt="boisson" width="150px">
              <p>3.50 €</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item"> 
              <img src="img/boisson/banga.jpg" class="img-responsive" alt="boisson" width="150px">
              <p>2 €</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item"> 
              <img src="img/boisson/vita-malt.jpg" class="img-responsive" alt="boisson" width="150px">
              <p>3.50 €</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item"> 
              <img src="img/boisson/capri-sun.png" class="img-responsive" alt="boisson" width="150px">
              <p>1.50 €</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item"> 
              <img src="img/boisson/7up.jpg" class="img-responsive" alt="boisson" width="150px">
              <p>2 €</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item"> 
              <img src="img/boisson/coca.jpg" class="img-responsive" alt="boisson" width="150px">
              <p>3 €</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item">
              <img src="img/boisson/fanta.jpg" class="img-responsive" alt="boisson" width="150px">
              <p>3 €</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="gallery-item"> 
              <img src="img/boisson/sprite.jpg" class="img-responsive" alt="boisson" width="150px">
              <p>3 €</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}


