{% extends "base.html.twig" %}

{% block title %}Bienvenue sur Caribbéan Food{% endblock %}

{% block body %}

  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1>Bienvenue et...bon appétit !!!</h1>
              <p>Reservez au : 01 45 75 45 85</p>
              <span>Venez découvrir nos plats tous divers et variés qui vous ferons voyager vers différentes saveurs</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <br>
  <div class="container">
    <div class="row">
      <h1>Caribbean Food</h1>
      <div class="col-md-6">
        <img src="../img/resto.jpg" alt="image_restaurant" width="400px" heigth="350px">
      </div>
      <div class="col-md-4" style="text-align: center;">
        <p class="text-center">Le Caribéen est un concept original et innovant qui marie le fast-food et les saveurs des caraïbes. Nos spécialités sont les bokits et les agoulous. </p>
         <a class="btn btn-danger" href="{{ path('a_propos') }}" role="button">Nous connaître</a>
      </div>
    </div>
  </div>
  <!-- Features Section -->
  <div id="features" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>Nos spétialités antillaises</h2>
      </div>
      <div class="row">
        {% for plat in plats %}
          <div class="col-xs-12 col-sm-4">
            <div class="features-item">
              <h3>{{ plat.Nom }}</h3>
              <img src="{{ asset('uploads/'~ plat.Photo) }}" class="img-responsive" alt="image-plat" style="max-height:230px" max-width="320px">
              <p>{{ plat.Description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <br><br>
      <div class="section-title">
        <h2>Découvrez nos déssert au saveurs des caraïbes</h2>
      </div>
      <div class="row">
        {% for dessert in desserts %}
          <div class="col-xs-12 col-sm-4">
            <div class="features-item">
              <h3>{{ dessert.Nom }}</h3>
              <img src="{{ asset('uploads/'~ dessert.Photo) }}" class="img-responsive" alt="image-dessert" style="max-height:230px" max-width="320px">
              <p>{{ dessert.Description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- horraire Section -->
  <div id="horraire">
    <div class="container">
      <div id="row">
        <div class="col-md-6">
          <div class="col-md-10 col-md-offset-1">
            <div class="section-title">
              <h2 style="color:#d43031;">Nos horraires</h2>
            </div>
            <h4 style="color:#d43031;">Venez dégustez vos plat préférés</h4>
            <ul>
              <li>Lundi : FERME</li>
              <li>Mardi : De 11h à 14h30 puis De 18h00 à 22h30</li>
              <li>Mercredi : De 11h à 14h30 puis De 18h00 à 22h30</li>
              <li>Jeudi : De 11h à 14h30 puis De 18h00 à 22h30</li>
              <li>Vendredi : De 11h à 14h30 puis De 18h00 à 22h30</li>
              <li>Samedi : De 11h à 14h30 puis De 18h00 à 23h00</li>
              <li>Dimanche : De 11h à 14h30 puis De 18h00 à 23h00</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6" style="line-height: 44;">
          <a class="btn btn-danger" href="{{ path('carte') }}" role="button">Voir la carte</a>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

