{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <div id="bg-reservation">
        <div class="container" id="page-reservation" style="padding:100px 0 60px 0;">
            <br>
            <p><b>
            <span><b>*</b></span>N'attendez pas la dernière minute pour nous contacter, et profitez de notre système de réservation en ligne !!!
            </b></p>

            {% for message in app.flashes('success') %}  
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}                
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Désolé votre demande de réservation n'a pas pu être transmis suite à une erreur ! Veuillez réessayez svp.              
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="text-center">
            <h1>Reservez votre table</h1>
            <div id="formulaire-reservation">
                {{ form_start(form) }}                
                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ form_row(form.nom)}}                           
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_row(form.prenom)}}                                                       
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ form_row(form.email)}}                               
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_row(form.telephone)}}                        
                        </div>
                    </div>
                    {# <div class="row">
                        <div class="form-group col-md-4">
                            {{ form_row(form.date)}}                           
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_row(form.heure)}}                                               
                        </div>
                    </div> #}
                    <div class="row">
                        <div class="form-group col-md-8">
                            {{ form_row(form.convives)}}                                                
                        </div>
                        <div class="form-group col-md-8">
                            {{ form_row(form.message)}}                           
                            {# rows="5" placeholder="Table en terrasse, table ronde, etc..." #}
                        </div>
                    </div>
                    <button  style="position: relative; right: 12%;"class="btn btn-danger" type="submit">Réseverver</button>
                {{ form_end(form) }}                        
            </div>
            <br>
            <p><b>(<span>*</span>)Réservation minimum 12h avant l'heure d'arrivée au restaurant. Sous réserve de place disponible.</b></p>
        </div>
    </div>
    <style>
    .fade {
      opacity: 1;
    }
    </style>
    
{% endblock %}