{% extends 'base_back.html.twig' %}

{% block title %}Liste des dessert{% endblock %}

{% block body %}

    {# Message flash #}
    {% for message in app.flashes('success') %}  
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}                
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% for message in app.flashes('suppression') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}                
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <h1>Liste des desserts du restaurant</h1>
    <a class="btn btn-outline-success" href="{{ path('new_dessert') }}">Nouveau dessert</a>
    <br><br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Publication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dessert in desserts %}
            <tr>
                <td>{{ dessert.id }}</td>
                <td>{{ dessert.Nom }}</td>
                <td>{{ dessert.Description }}</td>
                <td>{{ dessert.Prix }} €</td>
                <td>{{ dessert.Publication }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('show_dessert', {'id': dessert.id}) }}">Voir</a>
                    <a class="btn btn-secondary" href="{{ path('edit_dessert', {'id': dessert.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="/admin">Voir liste des plats</a>

{% endblock %}
