{% extends 'base_back.html.twig' %}

{% block title %}Liste des plats{% endblock %}

{% block body %}


    {# Message flash #}
    {% for message in app.flashes('success') %}  
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}                
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% for message in app.flashes('suppression') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}                
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}


    <h1>Liste des plats du restaurant</h1>
    <a class="btn btn-outline-success" href="{{ path('new_plat') }}">Nouveau plat</a>
    <br><br>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                {# <th>Photo</th> #}
                <th>Description</th>
                <th>Prix</th>
                <th>Publication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.id }}</td>
                <td>{{ plat.Nom }}</td>
                <td>{{ plat.Description }}</td>
                <td>{{ plat.Prix }}</td>
                <td>{{ plat.Publication }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('show_plat', {'id': plat.id}) }}">Voir</a>
                    {# Apparait si connecté si ROLE_ADMIN #}
                    {# {% if is_granted('ROLE_ADMIN') %} #}
                        <a a class="btn btn-secondary" href="{{ path('edit_plat', {'id': plat.id}) }}">Modifier</a>
                    {# {% endif %} #}
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="/admin/dessert">Voir les déssert</a>

{% endblock %}
