{% extends 'base_back.html.twig' %}

{% block title %}Plat{% endblock %}

{% block body %}
    <a href="{{ path('index_plat') }}"><i class="fas fa-arrow-circle-left fa-3x"></i></a> 
    <div class="jumbotron jumbotron-fluid">
        <h1 class="text-center">{{ plat.Nom }}</h1>
        <img  class="img-thumbnail mx-auto d-block" src="{{ asset('uploads/' ~ plat.Photo) }} " alt="image" width="300" height="200" > 
        <br>
        <p class="text-center">{{ plat.Description }}</p>
        <p class="text-center">{{ plat.Prix }} €</p>
    </div>
    <a class="btn btn-primary btn-block" href="{{ path('edit_plat', {'id': plat.id}) }}">Modifier</a>   

    {{ include('plat/_delete_form.html.twig') }}
{% endblock %}
